<div id="home">
    <div class="container">
        <div class="center-align">
            <h1>{{ store }}</h1>
            <h5>{{ title }}</h5>
            <br>
            <div class="row">
                {{!-- {{#each products}} --}}
                {{!-- {{#if style = traditional obviously needs correcting}} --}}
                {{!-- <div class="col s3">
                    <div class="card">
                        <div class="card-image">
                            <img src="{{ this.image_location }}">
                        </div>
                        <div class="card-content">
                            <p>{{ this.product_description }}</p>
                            <p>{{ this.customer_rating }}</p>
                        </div>
                        <div class="card-action">
                            <a href="/product/{{ this.id }}">{{ this.product_name }}</a>
                        </div>
                    </div>
                </div> --}}
                {{!-- {{/if}} --}}
                {{!-- {{/each}} --}}

                <div class="col s3">
                    <div class="card">
                        <div class="card-image">
                            <img src="images/sample-1.jpg">
                        </div>
                        <div class="card-content">
                            <p>Product Name</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Product Page</a>
                        </div>
                    </div>
                </div>
                <div class="col s3">
                    <div class="card">
                        <div class="card-image">
                            <img src="images/sample-1.jpg">
                        </div>
                        <div class="card-content">
                            <p>Product Name</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Product Page</a>
                        </div>
                    </div>
                </div>
                <div class="col s3">
                    <div class="card">
                        <div class="card-image">
                            <img src="images/sample-1.jpg">
                        </div>
                        <div class="card-content">
                            <p>Product Name</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Product Page</a>
                        </div>
                    </div>
                </div>
                <div class="col s3">
                    <div class="card">
                        <div class="card-image">
                            <img src="images/sample-1.jpg">
                        </div>
                        <div class="card-content">
                            <p>Product Name</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Product Page</a>
                        </div>
                    </div>
                </div>
                <div class="col s3">
                    <div class="card">
                        <div class="card-image">
                            <img src="images/sample-1.jpg">
                        </div>
                        <div class="card-content">
                            <p>Product Name</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Product Page</a>
                        </div>
                    </div>
                </div>
                <div class="col s3">
                    <div class="card">
                        <div class="card-image">
                            <img src="images/sample-1.jpg">
                        </div>
                        <div class="card-content">
                            <p>Product Name</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Product Page</a>
                        </div>
                    </div>
                </div>
                <div class="col s3">
                    <div class="card">
                        <div class="card-image">
                            <img src="images/sample-1.jpg">
                        </div>
                        <div class="card-content">
                            <p>Product Name</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Product Page</a>
                        </div>
                    </div>
                </div>
                <div class="col s3">
                    <div class="card">
                        <div class="card-image">
                            <img src="images/sample-1.jpg">
                        </div>
                        <div class="card-content">
                            <p>Product Name</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Product Page</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1">
                <div class="card">
                    <br>
                    <div class="card-header">
                        <h6>Here's what our other {{title}} customers thought:</h6>
                    </div>
                    <div class="card-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                            in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>
            </div>

            {{!-- <ul id="example-list" class="list-group">
                    {{#each examples}}
                    <li data-id="{{this.id}}" class="list-group-item">
                        <a href="example/{{this.id}}">{{this.text}}</a>
                        <button class="btn btn-danger float-right delete">ｘ</button>
                    </li>
                    {{/each}}
                </ul> --}}
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/index.js"></script>