<div id="home">
    <div class="container">
        <div class="center-align">
            <h1>{{ store }}</h1>
            <h5>{{ title }}</h5>
            <br>
            <div class="row">
                {{#each products}}
                {{#if_equal style "traditional"}}
                <div class="col s3">
                    <div class="forum-card card">
                        <div class="card-image">
                            <a href="/product/{{ this.id }}"> <img class="forum-img" src="{{ this.Image }}"></a>
                        </div>
                        <div class="card-content">
                            <p>Customer Rating: {{ this.Customer_Rating }}</p>
                            <hr>
                            <a class="center-block" href="/product/{{ this.id }}">{{ this.Description }}</a>
                        </div>

                    </div>
                </div>
                {{/if_equal}}
                {{/each}}
            </div>
            <div class="col s1">
                <div class="card">
                    <br>
                    <div class="card-header">
                        <h6>Here's what our other {{title}} customers are saying:</h6>
                    </div>
                    <div class="card-content">
                        {{>chat data=data user=user title=title}}
                    </div>
                    {{#unless user}}
                    <div>
                        <a class="btn" href="/signin" value="Sign In">Sign In</a> or <a class="btn"
                            href="/signup">Sign Up</a> to
                        join the conversation!
                    </div>
                    <br>
                    {{/unless}}
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/index.js"></script>